# Node
node_modules/

# Frontend caches/build
**/node_modules/
**/.cache/
dist/
build/

# Python
__pycache__/
*.py[cod]
env/
venv/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Git LFS placeholder
.gitattributes
